/* PHASE 7: Online */

.online {
  position: absolute;
  display: block;
  background: #0c0;
  color: white;
  width: 120px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 3px;
  text-align: center;
  padding: 5px;
  transform: rotate(-45deg) translateX(-25%) translateY(-70%);
  box-shadow: 0 1px #070;
}

.profile-picture {
  overflow: hidden;
}
